/* styles.css */

* {border:0}

div {
    color: white;
    background-color: black;
}

.h1 {color:white; font-size: 50px; }
h1 {text-align: center;}
img {border: 5px inset rgb(93, 75, 197); padding:2px; position:relative; top:5%; white-space: nowrap; float: right}
body {background-color: black;}
li {font-size: 25px;}

